body {
    font-family: 'Shrikhand';
    background-color: #F7DFA5;
    color: #AD2E1C;
    line-height: 1.6;
    padding: 20px;
}


.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('photo-1660734430854-6e5f1c50788c.jpeg');
    background-size: cover;
/*     background-position: center; */
    background-repeat: no-repeat;
}


h1 {
    font-size: 2.25rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    text-align: justify;
}

button {
    background-color: #AD2E1C;
    color: #F7DFA5;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #8B2219;
}

input {
    font-size: 1.2rem;
    padding: 5px 10px;
    width: 100%;
    margin-top: 20px;
}

.mystery {
    margin-top: 40px;
}

.hidden {
    display: none;
}

.section-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
    display: block;
}

