body {
    font-family: 'Shrikhand', cursive, sans-serif;
    text-align: center;
    background-color: #ffebcd;
    color: #4b0082;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 90%;
    padding: 20px;
    background-color: #fff5ee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid #cd853f;
    overflow: auto;
    max-height: 90%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.mystery {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: #000;
}

button {
    padding: 10px 20px;
    background-color: #4b0082;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #9370db;
}

a {
    color: #4b0082;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
